/*
    font-family: 'Montserrat', sans-serif; 
    font-family: 'Open Sans', sans-serif;
*/
.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: justify;
}

.grid-one-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: justify;
    counter-reset: grid-counter;
}

.grid-main-heading {
    margin-bottom: 1rem; 
}

.grid-description {
   padding-bottom: 8 rem; 
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}


.gallary-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallary-img img {
    transition: all 300ms ease-in-out;
}

.gallary-img img:hover {
    transform: translate(-3%, -3%) scale(1.2) rotate(5deg);
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}